.section {
  width: 100%;
}

.heading {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: clamp(2rem, 4vw, 2.5rem);
  font-weight: 600;
  text-align: center;
  margin-bottom: 12px;
  color: #002147;
}

.subtitle {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-bottom: 24px;
  color: #6b717a;
  font-size: 16px;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

